* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
html {
  --color-white: #ffffff;
  --color-black: #000;
  --color-brown-dark: #da702f;
  --color-brown: #e67e22;
  --color-grey: #555555;
  --color-grey-light: #ccc;
  --color-grey-dark: #999;
  --bg-img: linear-gradient(rgba(0, 0, 0, 0.35), rgba(102, 55, 55, 0.7)), url("/img/tea.jpg");
  --color-quinary: white;
  --color-tertiary: hsl(160, 74%, 42%);
}
html[data-theme="dark"] {
  --color-white: #b4b4b4;
  --color-black: rgb(211, 209, 207);
  --color-brown-dark: #e2842c;
  --color-brown: #8f7258;
  --color-grey: #4b4949;
  --color-grey-light: rgb(150, 148, 148);
  --color-grey-dark: rgba(155, 155, 155, 0.719);
  --color-tertiary: rgb(38, 52, 65);
  --bg-img: linear-gradient(rgba(0, 0, 0, -0.65), #000), url("/img/tea.jpg");
  --color-quinary: white;
}
/* header css start */
html {
  background-color: var(--color-white);
  color: var(--color-grey);
  font-family: "lato", "arial", "sans-serif";
  font-weight: 300;
  font-size: 20px;
  scroll-behavior: smooth;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
h1 {
  margin: 0;
  font-size: 200%;
  font-weight: 300;
  color: var(--color-brown-dark);
  font-family: cursive;
  word-spacing: 3px;
  letter-spacing: 1px;
  position: absolute;
  transform: translate(-50%, -84%);
  /* top: 45%; */
  left: 50%;
  text-align: center;
  width: 36rem;
  text-transform: uppercase;
  animation: moveInLeft 3.5s ease-in-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    left: 40%;
  }
  40% {
    left: 70%;
  }
  80% {
    left: 40%;
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}
h2 {
  margin: 0;
  font-size: 200%;
  font-weight: 800;
  font-family: sans-serif;
  color: var(--color-white);
  /* font-family: cursive; */
  word-spacing: 3px;
  letter-spacing: 4px;
  transform: translate(-50%, 41%);
  /* top: 45%; */
  left: 50%;
  text-align: center;
  width: 21rem;
  text-transform: uppercase;
  position: absolute;
  animation: moveInRight 3.5s ease-in-out;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    left: 70%;
  }
  40% {
    left: 40%;
  }
  80% {
    left: 70%;
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  outline: 2px solid var(--color-brown);
  outline-offset: 5px;
}
.btn-hunger:link,
.btn-hunger:visited {
  background-color: var(--color-brown);
  border: 1px solid var(--color-brown);
  color: white;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid var(--color-brown);
  color: var(--color-brown);
}
.btn:hover,
.btn:active {
  background-color: var(--color-brown-dark);
}
.btn-hunger:hover,
.btn-hunger:active {
  border: 1px solid var(--color-brown-dark);
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid var(--color-brown-dark);
  color: var(--color-white);
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.btn {
  position: absolute;
  transform: translate(-50%, 400%);
  top: 75%;
  left: 50%;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: var(--color-white);
  padding: 5px 0px;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--color-brown-dark);
}
.navigation__background {
  position: fixed;
  left: 0px;
  top: -25px;
  z-index: 1000;
  width: 5.7px;
  background-image: linear-gradient(var(--color-grey-light), var(--color-grey-dark));
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__button {
  background-color: transparent;
  position: fixed;
  top: 0rem;
  left: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem var(--color-black), 0.1;
  text-align: center;
  cursor: pointer;
}
.navigation__checkbox {
  display: none;
}

.navigation__nav {
  position: fixed;
  height: 100vh;
  width: 0%;
  top: 0;
  opacity: 0;
  right: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 51%;
  left: 7%;
  transform: translate(-51%, -53%);
  list-style: none;
  text-align: center;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
  padding: 1rem 2rem;
  background-size: 256%;
  transition: all 0.4s;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-black);
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1rem;
  display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  width: 100%;
  margin-top: 3.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: var(--color-tertiary);
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transform: all, 0.4s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.header__nav--links__toggle-container {
  display: flex;
  align-items: center;
}
.header__nav--links__toggle-container input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 4rem;
  height: 2rem;
  top: 24rem;
  left: 3%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color-quinary);
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.6rem 0.1rem var(--color-grey-dark);
  transition: all 0.5s ease-in-out;
}
.header__nav--links__toggle-container input:checked[type="checkbox"] {
  background-color: var(--color-black);
}
.header__nav--links__toggle-container input:not(:checked)[typpe="checkbox"] {
  background-color: var(--color-tertiary);
}
.header__nav--links__toggle-container input[type="checkbox"]::before,
.header__nav--links__toggle-container input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 0.6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-quinary);
  box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(128, 128, 128, 0.35);
  transition: all 0.5s ease-in-out;
}
.header__nav--links__toggle-container input[type="checkbox"]::before {
  left: 0.5rem;
}
.header__nav--links__toggle-container input[type="checkbox"]::after {
  right: 0.5rem;
}
.header__nav--links__toggle-container input:checked[type="checkbox"]::before {
  left: 37%;
  box-shadow: none;
}
.header__nav--links__toggle-container input:checked[type="checkbox"]::after {
  right: 38%;
  box-shadow: none;
}
.logo {
  position: absolute;
  right: 5rem;
}
@media only screen and (max-width: 480px) {
  h1 {
    width: 20rem;
  }
}
@media only screen and (max-width: 690px) {
  h1 {
    margin-top: 1rem;
    width: 22rem;
  }
  .logo {
    right: 0;
  }
  .navigation__list {
    left: 14%;
  }
  .header__nav--links__toggle-container input[type="checkbox"] {
    top: 20rem;
    left: 10%;
  }
}

.about {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--color-grey);
}
.about-main {
  height: 50vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.second {
  top: 50%;
}
.about__box {
  height: 50vh;
  width: 50%;
  position: absolute;
  background-color: var(--color-grey-dark);
  text-align: center;
  transition: all 0.3s;
  overflow: hidden;
}
.about__box:hover {
  background-color: var(--color-brown);
  color: var(--color-white);
  transform: scale(1.1);
}
.two {
  left: 50%;
}
.icon {
  font-size: 2rem;
  padding: 2rem 0;
}
.heading {
  letter-spacing: 0.2rem;
  /* color:var(--color-brown); */
}
.lorem {
  width: 13rem;
  margin-left: 9rem;
  margin-top: 1rem;
}
.work {
  height: 100vh;
  width: 100%;
  /* background-color: */
  position: relative;
}
.work__sec--one {
  height: 50vh;
  width: 35%;
  position: absolute;
  top: 25%;
  left: 10%;
  border: 8px solid var(--color-brown);
  border-radius: 1.5rem;
  overflow: hidden;
  /* background:transparent; */
  transition: all 0.4s;
}
.img {
  background-image: url("/img/pexels-pixabay-327136.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}
.img:hover {
  background-image: linear-gradient(rgba(233, 136, 10, 0.11), rgba(228, 170, 95, 0.226)),
    url("/img/pexels-pixabay-327136.jpg");
  transform: scale(1.1);
}
.work__port {
  height: 100vh;
  width: 50%;
  position: absolute;
  left: 50%;
  text-align: left;
  padding: 2rem;
}
.work__heading {
  font-size: 1.5rem;
  color: var(--color-brown-dark);
  margin: 1rem;
}
.work__heading__sub {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 400;
}
.work__heading__para {
  font-size: 1rem;
  line-height: 2rem;
  margin: 1rem;
}
.right {
  top: 14rem;
  left: 152px;
}
.product {
  padding: 2rem;
  width: 100%;
  height: 160vh;
  position: relative;
  background-color: var(--color-grey);
}
.products {
  color: var(--color-white) !important;
}
.paragraph {
  color: var(--color-white) !important;
  width: 25rem;
}
.product--items {
  position: absolute;
  height: 67vh;
  /* border: solid white; */
  width: 25%;
  top: 25rem;
  border-radius: 1.2rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(197, 197, 197, 0.2);
  left: 3rem;
}
.btn-right {
  top: 11.1rem;
  left: 6.8rem;
}
.product--items img {
  height: 60%;
  width: 100%;
}
.heading__prod {
  font-size: 1rem;
  color: var(--color-white);
  margin: 1rem;
  letter-spacing: 0.3rem;
  /* margin-left: 1rem; */
}
.product--items p {
  font-size: 1rem;
  color: var(--color-white);
}
.left {
  left: 38%;
}

.lefter {
  left: 70%;
}
.service {
  height: 130vh;
  width: 100%;
  position: relative;
  /* border: solid; */
  text-align: center;
  padding: 2rem;
}
.service--items {
  position: absolute;
  height: 80vh;
  /* border: solid white; */
  width: 25%;
  top: 10rem;
  border-radius: 1.2rem;
  background-color: var(--color-brown);
  text-align: center;
  overflow: hidden;
  box-shadow: 5px 7px 17px rgb(78, 78, 78);
  left: 3rem;
  outline: 6px solid var(--color-brown-dark);
  transition: all 0.3s;
  border: 3px solid white;
}
.service--items:hover {
  box-shadow: 5px 7px 17px rgb(37 33 33);
  transform: translateY(-1rem);
}
.service--items img {
  height: 50%;
  width: 100%;
}
.heading__serv {
  font-size: 1rem;
  color: var(--color-white);
  margin: 1rem;
  letter-spacing: 0.3rem;
  line-height: 2rem;
  /* margin-left: 1rem; */
}
.heading__serv-li {
  line-height: 1.25rem;
  color: var(--color-white);
  font-weight: 600;
  list-style: none;
}
.service--items p {
  color: var(--color-white);
}
.icons {
  height: 2rem;
  width: 2rem;
  color: var(--color-black);
  box-shadow: 0 3px 10px rgba(37, 33, 33, 0.411);
  font-size: 1.25rem;
  padding-top: 0.25rem;
  padding-left: 0.15rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.service__heading {
  font-size: 1.5rem;
  color: var(--color-brown-dark);
  margin: 1rem;
}
.service__heading__sub {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 400;
}
.ul__button {
  height: 2rem;
  width: 6rem;
  background-color: var(--color-white);
  text-align: center;
  font-size: 0.7rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.ul__button:hover {
  background-color: var(--color-brown-dark);
}
.left-2 {
  left: 23rem;
}
.lefter-3 {
  left: 43rem;
}
.footer {
  height: 120vh;
  width: 100%;
  position: relative;
  padding: 2rem;
}
.footer__info {
  height: 80vh;
  width: 45%;
  padding: 4rem;
  position: absolute;
  list-style: none;
}
.footer__icon {
  color: var(--color-brown-dark);
}
.footer__info p {
  margin-top: 1rem;
}
.footer__info--item {
  margin: 2rem;
}
.footer-form {
  height: 80vh;
  width: 45%;
  padding: 2rem;
  position: absolute;
  left: 50%;
  text-align: center;
}
#name {
  height: 2rem;
  outline: none;
  border: none;
  width: 75%;
  padding: 1rem 1rem;
  position: absolute;
  left: 2rem;
  top: 4rem;
  border-bottom: 1px solid var(--color-brown-dark);
}
#email {
  height: 2rem;
  outline: none;
  border: none;
  width: 75%;
  padding: 1rem 1rem;
  position: absolute;
  left: 2rem;
  top: 8rem;
  border-bottom: 1px solid var(--color-brown-dark);
}
#message {
  height: 2rem;
  outline: none;
  border: none;
  width: 75%;
  padding: 1rem 1rem;
  position: absolute;
  left: 2rem;
  top: 14rem;
  border-bottom: 1px solid var(--color-brown-dark);
}
.top {
  top: 10rem;
}
.footer__last {
  height: 8rem;
  text-align: center;
  width: 100%;
  position: relative;
  padding: 1rem;
  bottom: 0;
  left: 0px;
  background-color: var(--color-brown-dark);
}
.footer__icons {
  height: 3rem;
  width: 12rem;
  /* border:solid; */
  margin-left: 40%;
}
.footer__last p {
  color: var(--color-white);
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.space {
  margin: -1.7rem 1.3rem;
}
.footer__last p span {
  color: var(--color-grey-light);
}

@media only screen and (max-width: 768px) {
  .lorem {
    margin-left: 3rem;
  }
  .about__box {
    height: 91vh;
  }
  .work__sec--one {
    left: 4%;
  }
  .work__port {
    width: 58%;
    left: 42%;
  }
  .work__heading__para {
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin: 0.3rem 1rem;
  }
  .right {
    top: 12rem;
    left: 148px;
  }
  .resp {
    top: 7rem;
    left: 139px;
  }
  .product--items {
    width: 28%;
    left: 2rem;
    top: 21rem;
  }
  .heading__prod {
    font-size: 1rem;
    margin: 0.7rem;
    letter-spacing: 0.1rem;
  }

  .product--items p {
    font-size: 0.7rem;
  }
  .left {
    left: 36.8% !important;
  }
  .lefter {
    left: 67.7% !important;
  }
  .lefter-3 {
    left: 26.4rem;
  }
  .left-2 {
    left: 14.7rem;
  }
  .footer__info p {
    width: 8rem;
  }
  .footer__icon {
    width: 8rem;
  }
  .navigation__list {
    top: 60%;
    left: 12%;
  }
  .service--items {
    height: 53vh;
  }
  .product--items {
    height: 55vh;
  }
  .service {
    height: 100vh;
  }
  .footer {
    height: 86vh;
  }
  .product {
    height: 128vh;
  }
  .header__nav--links__toggle-container input[type="checkbox"] {
    top: 31rem;
    left: 8%;
  }
  .footer__icons {
    margin-left: 35%;
  }
  .service--items img {
    height: 45%;
  }
}
@media only screen and (max-width: 420px) {
  .hero-text-box h1 {
    font-size: 1.4rem;
    width: 18rem;
  }
  .hero-text-box h2 {
    font-size: 1.3rem;
    width: 23%;
    margin-top: 2rem;
  }
  .logo {
    margin-top: 19px;
    width: 7.2rem;
  }
  .navigation__list {
    top: 53%;
    left: 15%;
  }
  .header__nav--links__toggle-container input[type="checkbox"] {
    top: 27rem;
    left: 10%;
  }
  .about {
    height: 200vh;
  }
  .about-main {
    height: 100vh;
  }
  .about__box {
    height: 50vh;
    width: 100%;
  }
  .two {
    top: 50%;
    left: 0;
  }
  .work__port {
    width: 100%;
    height: 80vh;
    top: 42%;
    left: 0;
  }
  .work__sec--one {
    height: 34vh;
    width: 89%;
    position: absolute;
    top: 7%;
    left: 6%;
  }
  .work__heading__para {
    font-size: 0.5rem;
    line-height: 1.1rem;
    margin: 0.3rem 0.6rem;
    width: 14rem;
  }
  .right {
    height: 44px;
    width: 134px;
    text-align: center;
    padding: 10px 10px !important;
    top: 7rem;
  }
  .product {
    height: 261vh;
  }
  .product--items {
    width: 60%;
    left: 3.6rem;
  }
  .left {
    left: 19.8% !important;
    top: 43rem;
  }
  .lefter {
    left: 20.7% !important;
    top: 65rem;
  }
  .top {
    top: 9rem;
  }
  .service--items {
    width: 59%;
    left: 4rem;
    padding-bottom: 4rem;
  }
  .left-2 {
    left: 4rem;
    top: 31rem;
  }
  .service {
    height: 215vh;
  }
  .lefter-3 {
    left: 4rem !important;
    top: 52rem;
  }
  .footer__info {
    height: 80vh;
    width: 54%;
    padding: 3rem 0rem 0rem 1rem;
  }
  .footer-form {
    left: 0;
    top: 22rem;
    width: 100%;
  }
  .footer {
    height: 130vh;
  }
  .footer__icons {
    margin-left: 14%;
  }
  .footer__last p {
    font-size: 0.6rem;
  }
}
